#include "charybdis_cirque.dtsi" // Notice that the main dtsi files are included in the overlay.



&kscan0 {
    diode-direction = "col2row";
    col-gpios
        = <&pro_micro 14 (GPIO_ACTIVE_HIGH)> // COL0 
        , <&pro_micro 16 (GPIO_ACTIVE_HIGH)> // COL1 
        , <&pro_micro 10 (GPIO_ACTIVE_HIGH)> // COL2 
        ;
};

&pro_micro_i2c {  
     status = "okay";  
     cirque: cirque@2a {  
     compatible = "cirque,pinnacle";  
     reg = <0x2a>;  
     status = "okay";  
     dr-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH)>; 
     //rotate-90;
     //sleep;
     //no-taps;
     };
};


